<% provide(:title, "Nao") %>
<h1>sự giới thiệu</h1>

<div class ="linksite">
 <p><font color="white">
 初めまして。こんにちは。こがわなおひろといいます。<br>
 このサイトは、ベトナムのおすすめスポット写真や動画の共有を目的とした投稿、<br>
 およびシェアが目的のサイトです。<br>
 おすすめスポット写真や動画も掲載しており、<br>
 実際のベトナムの友人の撮影写真なども掲載しています。<br>
 ご興味がある方、ぜひシェアをお待ちしております。<br>
 </p><br>
 
 
 
   <p><font color="gold">
    ★おすすめリンクはこちら★
   <p>
 <ul>
  <font color="coral">
   
  <a href="https://www.flickr.com/" target="_blank">https://www.flickr.com/</a><p>写真管理＆シェアサイト</p> <br>
  
  <a href="https://vietcam-oh.com/hochiminh/hochiminh-citywalk.php#link01" target="_blank">https://vietcam-oh.com/hochiminh/hochiminh-citywalk.php#link01</a><p>ホーチミン町歩きサイト</p><br> 
  
  <a href="https://blog.traveloco.jp/vietnam-scenic-spots/" target="_blank">https://blog.traveloco.jp/vietnam-scenic-spots/</a><p>ベトナム旅行で訪れたい場所</p><br>
 
  <a href="https://tabippo.net/hanoi-spot/" target="_blank">https://tabippo.net/hanoi-spot/</a><p>ハノイのおすすめスポット</p><br>
  
  <a href="https://www.travel.co.jp/guide/matome/468/" target="_blank">https://www.travel.co.jp/guide/matome/468/</a><p>ダナンのおすすめスポット</p><br>
 <ul>
</div>
