<% provide(:title, "おすすめリンク") %>
<h1>おすすめLink</h1>

<div class ="linksite">
 <ul>
  <font color="coral">
   
  <a href="https://www.flickr.com/" target="_blank">https://www.flickr.com/</a><p>写真管理＆シェアサイト</p> <br>
  
  <a href="https://vietcam-oh.com/hochiminh/hochiminh-citywalk.php#link01" target="_blank">https://vietcam-oh.com/hochiminh/hochiminh-citywalk.php#link01</a><p>ホーチミン町歩きサイト</p><br> 
  
  <a href="https://blog.traveloco.jp/vietnam-scenic-spots/" target="_blank">https://blog.traveloco.jp/vietnam-scenic-spots/</a><p>ベトナム旅行で訪れたい場所</p><br>
 
  <a href="https://tabippo.net/hanoi-spot/" target="_blank">https://tabippo.net/hanoi-spot/</a><p>ハノイのおすすめスポット</p><br>
  
  <a href="https://www.travel.co.jp/guide/matome/468/" target="_blank">https://www.travel.co.jp/guide/matome/468/</a><p>ダナンのおすすめスポット</p><br>
 <ul>
</div>