<% provide(:title, "About") %>
<h1>おすすめLink</h1>

<ul>
  <font color="coral">
  <p>写真管理＆シェアサイト</p>
  <a href="https://www.flickr.com/">https://www.flickr.com/</a><br>
  
  <p>ホーチミン町歩きサイト</p>
  <a href="https://vietcam-oh.com/hochiminh/hochiminh-citywalk.php#link01">https://vietcam-oh.com/hochiminh/hochiminh-citywalk.php#link01</a><br> 
  
  <p>ベトナム旅行で訪れたい場所</p>
  <a href="https://blog.traveloco.jp/vietnam-scenic-spots/">https://blog.traveloco.jp/vietnam-scenic-spots/</a><br>
  
  <p>ハノイのおすすめスポット</p>
  <a href="https://tabippo.net/hanoi-spot/">https://tabippo.net/hanoi-spot/</a>.
  
  <p>ダナンのおすすめスポット</p>
  <a href="https://www.travel.co.jp/guide/matome/468/">https://www.travel.co.jp/guide/matome/468/</a>.
<ul>
