<% provide(:title, "Link") %>

<h1>SpotMoves</h1>

 　<div class="vietmovie"><font color="gold">
  　　<p>おすすめスポット</p>
   　    <div style="text-align: center;"> <iframe width="700" height="400" src="https://www.youtube.com/embed/QnY74vH-iNE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
        <div style="text-align: center;"><iframe width="700" height="400" src="https://www.youtube.com/embed/YSIkcDk8hpw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
        <div style="text-align: center;"><iframe width="700" height="400" src="https://www.youtube.com/embed/IFI8qh-utOY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>


<p>
  facebook公式コミュニティサイト
  <a href="https://www.facebook.com/pg/AmazingThingsInVietnam/groups/?ref=page_internal">Amazing Things in Vietnam</a>
</p>