<% provide(:title, "Help") %>
<h1>Shared Spot</h1>

<div class ="photo">
  <ul>
     <li><img src="/assets/hotimin.jpg" width="300" height="300" /></li>
　　 <li><img src="/assets/hoian.jpg" width="300" height="300" /></li>
　　 <li><img src="/assets/hoian2.jpg" width="300" height="300" /></li>
　　 <li><img src="/assets/mecon1c.jpg"width="300" height="300" /></li>
　　 <li><img src="/assets/mecon2.jpg" width="300" height="300" /></li>
　　 <li><img src="/assets/vietfood.jpg"width="300" height="300" /></li>
　　 <li><img src="/assets/harumaki.jpg" width="300" height="300" /></li>
　　 <li><img src="/assets/viet2.jpg" width="300" height="300" /></li>
　　 <li><img src="/assets/viet1.jpg" width="300" height="300" /></li>
　　 <li><img src="/assets/viet3.jpg" width="300" height="300" /></li>
　　 <li><img src="/assets/danan.jpg" width="300" height="300" /></li>
　</ul>
</div>
