<% provide(:title, "Shared Spot") %>
<h1>Shared Spot</h1>

<div class ="photo">
  <ul>
   　<p>
     <img src="/assets/hotimin.jpg" width="320" height="240"  alt="写真" align="left"/>
     　★「ホーチミン市」（Ho Chi Minh City）<br>
     　　ベトナム南部に位置する都市。<br>
     　　首都のハノイと並ぶベトナムの大都市であり、ベトナム最大の商業都市。<br>
     　　有名な観光名所として、サイゴン中央郵便局や、<br>
     　　サイゴン大教会などのフランス植民地時代の建造物や、<br>
     　　ベトナム戦争の遺構であるクチトンネル、<br>
     　　ショッピングが楽しめるベンタイン市場など。<br>
     　　<br clear="left">
     </p>
     
     <p>
     <img src="/assets/viet3.jpg" width="320" height="240" alt="写真" align="middle"/>
    　 ★「ホーチミン」の街の風景(photo.@người bạn) <br>
         <br clear="left">
     </p>
     
     <p>
     <img src="/assets/S__17530882.jpg" width="320" height="240"  alt="写真" align="left"/>
     　★13の寺院からなるベトナムの仏教の聖地「フォン寺」<br>
     　　 まずは小船に乗って霊山・香山の麓へ向かうのですが、<br>
     　　 その途中、山々と田園風景が広がり、聖地を目指し約1時間の山登りの後、<br>
     　　 有名な観光名所として、サイゴン中央郵便局や、<br>
     　　 神秘的な香りが漂う洞窟寺院に辿りつきます。<br>
     　　 麓を中心に何本かの登山口を登った先にお寺は建てられていて、<br>
     　　 何日間かをかけて参拝を繰り返します。<br>
     　　 <br clear="left">
     </p>
     
     <p>
     <img src="/assets/hoian.jpg" width="320" height="240"  alt="写真" align="left"/>
     　★郷愁漂う歴史的な港町、世界遺産「ホイアン」 / Hoi An<br>
     　　 世界遺産「ホイアン」は、チャンパ王国時代からの古い港町です<br>
     　　 16世紀末以降、ポルトガル人、オランダ人、中国人、日本人が、<br>
     　　 来航し国際貿易港として繁栄しました。<br>
     　　 日本人にとって、ホイアン観光には欠かすことのできないのが、<br>
     　　 「日本橋」、別名「来遠橋」です。<br>
     　　 ホイアンに住む日本人によって架けられたとされる橋で、<br>
     　　 ベトナムの2万ドン札にも印刷されているほどの名所ですね。<br>
     　　 <br clear="left">
     </p>
     
     <p>
     <img src="/assets/hoianhasi.jpg" width="320" height="240" alt="写真" align="middle"/>
    　 ★「来遠橋」の風景(photo.@người bạn)<br>
         <br clear="left">
     </p>
     
     <p>
     <img src="/assets/hoian2.jpg" width="320" height="240"  alt="写真" align="left"/>
     　★ランタンが魅力的な「ホイアン」 の街/ Hoi An<br>
     　　 ランタン祭りで有名な街です。<br>
     　　 ランタン祭りを日本人に説明するのは比較的簡単です。<br>
     　　 日本でも伝統的な行事をする家なら、お盆の時期は灯篭に灯りをともしたり、<br>
     　　 場所によるとその灯りを川に流す灯篭流しの行事がありますね。<br>
     　　 日本ではこの行事をお盆の時期だけに行いますが、<br>
     　　 ホイアンの場合は毎月行うというところが違います。<br>
     　　 <br clear="left">
     </p>
     
    <p>
     <img src="/assets/hanoimati.jpg" width="320" height="240"  alt="写真" align="left"/>
     　★ベトナムの首都「ハノイ」 の街並み<br>
     　　 国の政治や文化の中心地とされる街です。<br>
     　　 長い歴史のある史跡や博物館も多く、観光客にも人気です。<br>
     　　 フランスの支配下に置かれていた時代に建てられた西欧風の建物も残っています<br>
     　　 また、ハノイ名物の水上人形劇やホアロー収容所など、<br>
     　　 珍しい体験をするのもおすすめです。<br>
     　　 <br clear="left">
     </p>
     
     <p>
     <img src="/assets/viet1.jpg" width="320" height="300" alt="写真" align="middle"/>
    　 ★「ハノイ」の移動風景(photo.@người bạn)<br>
         <br clear="left">
     </p>
    
    <p>
     <img src="/assets/mecon1c.jpg" width="320" height="240"  alt="写真" align="left"/>
     　★「メコン川」クルーズ<br>
     　　 ホーチミン（サイゴン）に来たら絶対行って欲しい場所！<br>
     　　 それがメコン川クルーズである。<br>
     　　 朝から昼の時間帯、美しいマングローブからの木漏れ日を見ながら、<br>
     　　 メコンデルタでクルーズツアーを楽しむのはサイゴンの醍醐味の一つです。<br>
     　　 <br clear="left">
     </p>
    
    <p>
     <img src="/assets/mecon2.jpg" width="320" height="240"  alt="写真" align="left"/>
     　★「メコン川」とは<br>
     　　 メコン川の全長は、約4200キロに及び、源流はチベット高原であり、<br>
     　　 そこから中国の雲南省を通り、<br>
     　　 ミャンマー、ラオス、タイ、カンボジア、ベトナムへと流れている。<br>
     　　 メコンの名は、タイ語に由来しており、<br>
     　　 メーはメーナーム（川）を短略化した語で、<br>
     　　 コンはサンスクリット語のガンガ<br>
     　　（ガンジス川のように偉大な川）から由来している。<br>
     　　 <br clear="left">
     </p>
     
     <p>
     <img src="/assets/vietfood.jpg" width="320" height="240"  alt="写真" align="left"/>
     　★ベトナム料理<br>
     　　 春巻き、フォー、バインミー、バインセオなど種類も豊富<br>
     　　 中国と植民地時代のフランスの影響を受けて発達したベトナム料理。<br>
     　　 多くのエスニック料理のように辛すぎず、<br>
     　　 甘すぎないマイルドな味わいが特徴。<br>
     　　 <br clear="left">
     </p>
     
　　 <p>
     <img src="/assets/danan.jpg" width="320" height="240"  alt="写真" align="left"/>
     　★ベトナム中部に位置する「ダナン」<br>
     　　 ダナンは、ホーチミン、ハノイに次ぐ第3の都市。<br>
     　　 美しいビーチが有名なリゾート地で、<br>
     　　 夜景風景も幻想的です。<br>
     　　 日本からの直行便が就航したことにより、注目度急上昇中の街です。<br>
     　　 またホイアンやフエといった世界遺産への玄関口、<br>
     　　 3都市巡りも楽しめます。<br>
     　　 <br clear="left">
     </p>
　</ul>
</div>
