<% provide(:title, "Help") %>
<h1>Shared Spot</h1>

<div class ="photo">
  <ul>
   　<p>
     <img src="/assets/hotimin.jpg" width="320" height="240"  alt="写真" align="left"/>
     ★ホーチミン市（Ho Chi Minh City）<br>
     ベトナム南部に位置する都市。<br>
     首都のハノイと並ぶベトナムの大都市であり、ベトナム最大の商業都市である<br>
     有名な観光名所として、サイゴン中央郵便局や、<br>
     サイゴン大教会などのフランス植民地時代の建造物や、<br>
     ベトナム戦争の遺構であるクチトンネル、ショッピングが楽しめるベンタイン市場などがある。<br>
     <br clear="left">
     </p>
　　 <li><img src="/assets/hoian.jpg" width="320" height="240" /></li>
　　 <li><img src="/assets/hoian2.jpg" width="320" height="240" /></li>
　　 <li><img src="/assets/mecon1c.jpg"width="320" height="240" /></li>
　　 <li><img src="/assets/mecon2.jpg" width="320" height="240" /></li>
　　 <li><img src="/assets/vietfood.jpg"width="320" height="240" /></li>
　　 <li><img src="/assets/viet2.jpg" width="320" height="240" /></li>
　　 <li><img src="/assets/viet1.jpg" width="320" height="240" /></li>
　　 <li><img src="/assets/viet3.jpg" width="320" height="240" /></li>
　　 <li><img src="/assets/danan.jpg" width="320" height="240" /></li>
　</ul>
</div>
