<footer class="footer">
  <small><font color="coral">
    This app was created by Naohiro Kogawa
  </small>
  <nav>
    <ul>
      <li><%= link_to "Naohiro Kogawa",   about_path %></li>
      <li><%= link_to "Link", contact_path %></li>
    </ul>
  </nav>
</footer>